extends layoutNA

block content
  h1= title
  .loginForm
    form(action="/register", method="post")
      h2 Sign Up:
      label Name
      input.input-field(type="text", name="name", placeholder='Joe Smith', required, autofocus)
      br
      label Username
      input.input-field(type="text", name="username", placeholder='JSmith86', required)
      br
      label Email
      input.input-field(type="email", name="email", placeholder='jsmith@gmail.com', required)
      br
      label Password
      input.input-field(type="password", name="password", placeholder='SuperSecure123', required)
      br
      label Confirm Password
      input.input-field(type="password", name="confirmPassword", placeholder='SuperSecure123', required)
      br
      button.input-button(type='submit') Create Account

