extends email-layout

block content
  h2 So You Need Some Help...
  p Hi #{realName},
  p If you'd like to reset your password, simply click the button or follow the link below and we'll take you off to a simple form that will let you do so.
  +button(resetURL, 'Reset Password Now →')
  p If you can't click the above button please visit #{resetURL}

