doctype html
html(lang='en')
    head
        title The Hunt - A Charleston Adventure
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Mobland - Mobile App Landing Page Template')
        meta(name='keywords', content='HTML5, bootstrap, mobile, app, landing, ios, android, responsive')
        // Font
        link(rel='dns-prefetch', href='//fonts.googleapis.com')
        link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,500', rel='stylesheet')
        // Bootstrap CSS
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        // Themify Icons
        link(rel='stylesheet', href='/stylesheets/themify-icons.css')
        // Owl carousel
        link(rel='stylesheet', href='/stylesheets/owl.carousel.min.css')
        // Main css
        link(href='/stylesheets/styleD.css', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Homemade+Apple|Permanent+Marker|Rancho|Reenie+Beanie" rel="stylesheet")
        link(rel='shortcut icon', type='image/ico', href='/images/fav.ico')

    body(data-spy='scroll', data-target='#navbar', data-offset='30')
        
        .container.bg-white.col-md-6.col-md-offset-3
            #fixedWrapper
                #toHomeButton 
                    a(href='/play/'+user.username)#toHomeArr <
                        img.img-fluid#toHomeIcon(src='/images/homeIcon.png')
            br
            h2.text-center.headerFont #{clue.clueShortName}
            .container.bg-white.col-md-8.col-md-offset-2
                p.text-center.clueFont #{clue.clueText}
            .bg-white.text-center
                img.img-fluid(src=clue.clueIMG).clueHeight
            .container.bg-white.col-md-8.col-md-offset-2
                button#markLocationButton.btn.btn-primary(onclick="getLocation()") Mark Location
        
        // jQuery and Bootstrap
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/bootstrap.bundle.min.js')
        // Plugins JS
        script(src='/javascripts/owl.carousel.min.js')
        // Custom JS
        script(src='/javascripts/script.js')
        script(src='/javascripts/huntExp.js')