extends layoutNA

block content
  h2 How to Play
  p Playing in the treasure hunt is easy.
  p The first thing you need to do is create an account.
  p Once you have an account and you are signed in, then click on play.
  p You will see a clue on your device and you goal is to physically locate that clue in Charleston.
  p Once you have located the clue, click the small circular "x" in the bottom right hand corner.
  p If you have correctly identified the clue, you will be showered with glory and advance to the next clue.
  p If you didn't, we'll tell you so, and you'll need to keep on hunting.

  p You can attempt to locate a clue as many times as you would like - There is no penalty for trying.




