extends layoutAdmin

block content
  h1 Hello #{user.username}!
  p Get back to the Hunt. You're on #[a(href="/play") clue ##{user.currentClue}].
  br
  p As an admin, you have some special abilities.  You can create clues and edit the current map here #[a(href="/clues") create clues].
  br
  p If your struggling, head over to the #[a(href="/help") help section] to get some tips on solid hunting.
  br
  p If your good to go, then click #[a(href="/play") play] and you'll be whisked away to a digital oasis of treasure hunting glory.


