extends layoutNA

block content
  h1= title
  p Welcome to the Treasure Hunt
  br
  p In order to play, you first need to create an account.  If you don't already have one you can do that #[a(href="/register") here].
  br
  p if you do already have an account, then you're all set.  Go ahead and #[a(href="/login") sign in] to Play.


