doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') home | 
    a(href='/login') login | 
    a(href='/register') create account | 
    a(href='play') play | 
    a(href='/logout') logout | 
    a(href='/create') create clue
    block content
