doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') home | 
    a(href='/play') play | 
    a(href='/logout') logout
    block content
