extends layoutNA

block content
  .loginForm
    form(role='form', action='/login', method='post')
      h2 Sign In:
      label(for='username')
      input.input-field(type='text', name='username', id='username', placeholder='Username', required, autofocus)
      br
      br
      input.input-field(type='password', name='password', id='inputPassword', placeholder='Password')
      br
      br
      button.input-button(type='submit') LOGIN




