doctype html
html(lang='en')
    head
        title The Hunt - A Charleston Adventure
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Mobland - Mobile App Landing Page Template')
        meta(name='keywords', content='HTML5, bootstrap, mobile, app, landing, ios, android, responsive')
        // Font
        link(rel='dns-prefetch', href='//fonts.googleapis.com')
        link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,500', rel='stylesheet')
        // Bootstrap CSS
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        // Themify Icons
        link(rel='stylesheet', href='/stylesheets/themify-icons.css')
        // Owl carousel
        link(rel='stylesheet', href='/stylesheets/owl.carousel.min.css')
        // Main css
        link(href='/stylesheets/styleD.css', rel='stylesheet')
        link(rel='shortcut icon', type='image/ico', href='/images/fav.ico')

        
    body(data-spy='scroll', data-target='#navbar', data-offset='30')
        
        // Nav Menu
        include ./layoutComponents/MenuD
        
        // hero image                
        header#home.bg-gradient
            .container.mt-5
                h1 Hold up there Slick!
                p.fontGrey Your account hasn't been verified.
                p.fontGrey In order to play you must verify your account by clicking the link in the email we sent you.
                br
                p.fontGrey Do you want us to resend the email?
                a.btn.btn-primary(href='/resendverificationemail') Resend Email
                br
                br

            .img-holder.mt-3
                img.img-fluid(src='/images/iphonex.png', alt='phone')
    

        // // end .section
        footer.my-5.text-center
            // Copyright removal is not prohibited!
            p.mb-2
                small COPYRIGHT © 2018. ALL RIGHTS RESERVED. TREASURE HUNT, LLC
            small
                a.m-2(href='/rules') RULES
                a.m-2(href='/privacy') PRIVACY
        // jQuery and Bootstrap
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/bootstrap.bundle.min.js')
        // Plugins JS
        script(src='/javascripts/owl.carousel.min.js')
        // Custom JS
        script(src='/javascripts/script.js')