doctype html
html(lang='en')
    head
        title The Hunt - A Charleston Adventure
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Mobland - Mobile App Landing Page Template')
        meta(name='keywords', content='HTML5, bootstrap, mobile, app, landing, ios, android, responsive')
        // Font
        link(rel='dns-prefetch', href='//fonts.googleapis.com')
        link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,500', rel='stylesheet')
        // Bootstrap CSS
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        // Themify Icons
        link(rel='stylesheet', href='/stylesheets/themify-icons.css')
        // Owl carousel
        link(rel='stylesheet', href='/stylesheets/owl.carousel.min.css')
        // Main css
        link(href='/stylesheets/styleD.css', rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Homemade+Apple|Permanent+Marker|Rancho|Reenie+Beanie" rel="stylesheet")
        link(rel='shortcut icon', type='image/ico', href='/images/fav.ico')

    body(data-spy='scroll', data-target='#navbar', data-offset='30')
        
        .container.bg-white.col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2
            .bg-gradient.clueHeaderBackground.whiteBackground
                h2.text-center.headerFont #{clue.clueShortName}
                .container.col-xl-8.col-xl-offset-2.col-lg-10.col-lg-offset-1
                    p.text-center.tagline.clueFont.fontWhite #{clue.clueText}
            
            .container.col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2
                .bg-white.text-center.clueImgBox
                    img.img-fluid(src=clue.clueIMG)



            //Static Footer bar
            footer.footer.footerBar
                .container
                    .row
                        .col.text-center
                            span
                                a(href='/')
                                    img.img-fluid.footerimg(src='/images/homeIcon.png')
                        .col.text-center
                            span
                                button.markLocButton(onclick="getLocation()")
                                    img.img-fluid.footerimg(src='/images/mark.png')
                        .col.text-center
                            span
                                a(href='/leaderboard')
                                    img.img-fluid.footerimg(src='/images/leaderboard.png')
        
        // jQuery and Bootstrap
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/bootstrap.bundle.min.js')
        // Plugins JS
        script(src='/javascripts/owl.carousel.min.js')
        // Custom JS
        script(src='/javascripts/script.js')
        script(src='/javascripts/hunt.js')