doctype html
html(lang='en')
    head
        title The Hunt - A Charleston Adventure
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Mobland - Mobile App Landing Page Template')
        meta(name='keywords', content='HTML5, bootstrap, mobile, app, landing, ios, android, responsive')
        // Font
        link(rel='dns-prefetch', href='//fonts.googleapis.com')
        link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,500', rel='stylesheet')
        // Bootstrap CSS
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        // Themify Icons
        link(rel='stylesheet', href='/stylesheets/themify-icons.css')
        // Owl carousel
        link(rel='stylesheet', href='/stylesheets/owl.carousel.min.css')
        // Main css
        link(href='/stylesheets/styleD.css', rel='stylesheet')
        link(rel='shortcut icon', type='image/ico', href='/images/fav.ico')

    body(data-spy='scroll', data-target='#navbar', data-offset='30')
        
        // Nav Menu
        include ./layoutComponents/MenuD
        header#home.bg-gradient
        
        .container.bg-white.col-md-8.col-md-offset-2
            br
            h3.bold_text Rules
            p
            strong Contest Period
            p
            | Registration for the Charleston Treasure Hunt will begin on October 27th 2017 at 12am Eastern time and run through November 10th 2017 at 11:59pm Eastern time.
            p
            | The Charleston Treasure Hunt will begin on the morning of November 11th at which point treasure maps will be electronically distributed to all participants at 8am. The Charleston Treasure Hunt will run until the prize is successfully claimed.
            p
            | If the prize is not claimed by the start of week 3 of the contest, a clue will be provided to all participants by email each week until the prize is claimed.
            p
            strong How to Enter
            p Entrants must purchase entry into the contest at CharlestonTreasureHunt.com.
            p
            strong Eligibility
            p To be eligible to enter the Charleston Treasure Hunt participants must:
            ul
            li(data-css='tve-u-15f50ff25e1') Be a resident of the state of West Virginia
            li(data-css='tve-u-15f50ff25e4') Be a US citizen
            li(data-css='tve-u-15f50ff25e5') Be 18 years of age or older
            li(data-css='tve-u-15f50ff25e6') Be able to read and write in English
            li(data-css='tve-u-15f50ff25e7')
                | Have access to an internet connected device, that allows the participant to send and receive email, with an active email address
            li(data-css='tve-u-15f50ff25e9') Be able to prove eligibility upon request
            p
            strong Requirements to Claim Prize
            p
            | In order to claim the prize, the winner of the Charleston Treasure Hunt will be required to:
            ul
            li(data-css='tve-u-15f50ff4f51')
                | Sign an Affidavit of Eligibility stating that they complied with rules, eligibility requirements, and governing laws
            li(data-css='tve-u-15f50ff4f54')
                | Sign a release of privacy allowing Treasure Hunt, LLC to use their name, photograph, and/or likeness on its websites and other promotional material in perpetuity without additional compensation
            li(data-css='tve-u-15f50ff4f56')
                | Provide proper identification, either a driver's license, US passport, or equivalent document, allowing us to verify the winner's identity
            li(data-css='tve-u-15f50ff4f57') Complete a form W-9 for tax purposes, the winner will be mailed a 1099 tax form
            li(data-css='tve-u-15f50ff4f58') Complete all required documentation within 14 days
            p
            | By entering the contest, you give Treasure Hunt, LLC express permission to contact you by phone or email to award your prize.
            p
            strong Determination of the Charleston Treasure Hunt Winner
            p There will be a single winner of the Charleston Treasure Hunt.
            p The winner will be determined by the first person to:
            ul
            li(data-css='tve-u-15f5104511f')
                | identify the "secret email address" as outlined by the clues in the treasure map provided to participants
            li(data-css='tve-u-15f51045120')
                | send an email to that address with their name and corresponding unique "Hunter's Code". The “Hunter’s Code” will be provided to eligible participants that purchase entry into the Charleston Treasure Hunt. This code will be provided, along with the treasure map, at the start of the hunt.
            p
            | This determination of the first treasure hunter to successfully identify the “secret email address” and send an email to that address will be made according to the timestamp on the email that we receive.
            p
            | In the unlikely event that more than one treasure hunter submits an email to the “secret email address” at exactly the same time, each of these participants will split the $5,000 prize equally.
            p
            | If a participant submits a winning claim and is determined not to be eligible to win the contest, the next eligible submission will be determined to be the winner. Reasons for determination of ineligibility may include, but are not limited to:
            ul
            li(data-css='tve-u-15f50ffaf78') participant lacks a registered “Hunter's Code”
            li(data-css='tve-u-15f50ffaf7c') participant is determined not to have followed the contest rules
            li(data-css='tve-u-15f50ffaf7d') participant did not pay the contest registration fee
            p
            | The successful participant will be notified of their victory within 10 days of determination of victory.  All contest participants will be notified that the prize has been claimed within 14 days of determination of victory. Notification to all participants will occur via:
            ul
            li(data-css='tve-u-15f50ffc260') email
            li(data-css='tve-u-15f50ffc264') the Charleston Treasure Hunt Facebook Page
            li(data-css='tve-u-15f50ffc265') the CharlestonTreasureHunt.com Website
            p
            strong The Prize
            p
            | One prize of $5,000 will be awarded to the participant who is determined by the contest sponsor to be victorious. When claiming the prize the participant must provide their unique "Hunter's Code" from the email address that they used to sign up for the contest. The prize will be paid by check and the check will be made out to the name of the individual associated with the unique "Hunter's Code" that claimed victory.
            p
            | The contest winner is responsible for paying all applicable taxes related to their prize. Treasure Hunt, LLC reserves the right to withhold applicable taxes as required by law.
            p
            strong Treasure Hunting
            p
            | Clues identified on the Treasure Map are located on public property in safely accessible areas. No clue requires that a participant access private property or disturb the environment.
            p
            | For the purposes of the hunt, the area that will be considered "in play" falls within a 7 mile radius around the WV State Capital Complex.
            p
            strong Disqualification of Participants
            p
            | Any use, or attempted use, of spamming, hacking, or spying on members of Treasure Hunt, LLC, it's employees, it's vendors, or other participants will result in immediate disqualification.
            p Treasure Hunt, LLC reserves the right to disqualify any participant who:
            ul
            li(data-css='tve-u-15f51016306')
                | violate the Contest Rules or the 
                a(href='https://www.charlestontreasurehunt.com/terms-of-service/', target='_blank') Terms and Conditions
            li(data-css='tve-u-15f51016309')
                | manipulate the contest in a manner that provides them with an unfair advantage over the other participants
            p
            strong Disputes
            p
            | You agree to settle any disputes relating to the Charleston Treasure Hunt through arbitration in the city of Charleston, West Virginia.
            p
            strong Modification or Termination of the Charleston Treasure Hunt
            p
            | Treasure Hunt, LLC reserves the right to modify or otherwise delay the Charleston Treasure Hunt in the event that the contest becomes corrupted or solutions are shared publicly.
            p
            strong Unforeseen Technical Difficulties
            p Charleston Treasure Hunt is not responsible for:
            ul
            li(data-css='tve-u-15f51017d2c')
                | participants who are unable to download the map as a result of failure on the part of their email service provider to deliver the map
            li(data-css='tve-u-15f51017d30')
                | damage caused to participant’s computers, phones, or other devices as result of accessing our digital files, website, or other online properties.
            li(data-css='tve-u-15f51017d31')
                | failures or delays in delivery and/or receipt of information related to the Charleston Treasure Hunt.
            li(data-css='tve-u-15f5103e0f0')
                | issues arising from technical failures, viruses, or computer hacking of our, or our vendor's computing systems.
            p
            strong Refund Policy
            p
            | Given the nature of the Treasure Hunt, no refunds will be provided for any reason.
            p
            strong User Submitted Content
            p
            | You agree to grant Treasure Hunt, LLC the right to use any content, whether text, audio, video, or otherwise, that you provide to Treasure Hunt, LLC in perpetuity.
            p
            strong Liability Release
            p
            | You agree to hold Treasure Hunt, LLC harmless for any liability, loss, or injury suffered as a result of participation in the contest.
            p
            strong Contacting Treasure Hunt, LLC
            p
            | While we will make every effort to address participant's needs during the Charleston Treasure Hunt. We will not respond to communication regarding or discussing clues.
            p We can be reached at support@charlestontreasurehunt.com.
            p
            strong Errors in the Treasure Map
            p
            | We've made every effort to ensure the accuracy of the clues provided on the treasure map. In the event that an error does arise, we will communicate to all participants on our website, charlestontreasurehunt.com, and through email regarding corrections.
            p
            | We cannot guarantee the accuracy of our treasure maps. They are provided on an as is basis and we assume no liability for errors or mistakes that they contain. We reserve the right modify the contest in the event that an irredeemable error occurs.
            p
            strong Contest Sponsor
            p
            | The Charleston Treasure Hunt is sponsored by Treasure Hunt, LLC, a Nevada based LLC that can be reached at:
            p      3375 S Rainbow Blvd #81710, SMB 1472, Las Vegas, NV 89180

        
        // jQuery and Bootstrap
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/bootstrap.bundle.min.js')
        // Plugins JS
        script(src='/javascripts/owl.carousel.min.js')
        // Custom JS
        script(src='/javascripts/script.js')
        script(src='/javascripts/hunt.js')