body {
  padding: 2vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label{
  font-size: 14px;
  margin: 5px;
}

input{
  margin: 5px;
}

.cluebox{
  margin-top: 10px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: lightgrey;
  height:75vh;
}
.submitButton{
  background-color: lightgrey;
  height:10vh;
  border-style: solid;
  border-width: 1px;
  font-size: 7vh;
  text-align: center;
}

.clueTitle{
  font-size: 5vh;
}

.clueText{
  font-size: 2.5vh;
}

.navbar-nav > li > a {
  padding-top:5px !important; 
  padding-bottom:5px !important;
}
.navbar {
  min-height:32px !important
}