mixin userClueDisplay(data = {})
    
    div.cluebox
        h2.clueTitle #{data.clueShortName} 
        p.clueText #{data.clueText}
        img.clueimg(src=data.clueIMG alt="Image Title")
    div#submitButton(onclick="getLocation()") x